<nav class="navbar navbar-expand-lg navbar-light bg-custom shadow-sm" id="navbar">
	<a class="navbar-brand" href="/"><img src="/imgs/icons/favicon/apple-icon-57x57.png" width="30px"></a>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">

      <li class="nav-item {{#if home_active}} active {{/if}}">
        <a class="select nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>

      <li class="nav-item {{#if rules_active}} active {{/if}}">
        <a class="select nav-link" href="/rules">Rules</a>
      </li>

      <li class="nav-item {{#if about_active}} active {{/if}}">
        <a class="select nav-link" href="/about">About</a>
      </li>

			{{#if displayName}}
      <li class="nav-item active">
        <a class="select nav-link" href="/{{boardName}}">{{displayName}}</a>
      </li>
			{{/if}}

    </ul>

    <ul class="navbar-nav ml-auto">

      <li class="nav-item">
        <button id="default-mode-toggle" class="theme-toggle default" title="Default">
          <i class="fas fa-adjust"></i>
        </button>
      </li>

      <li class="nav-item">
        <button id="apple-mode-toggle" class="theme-toggle apple" title="Apple">
          <i class="fas fa-apple-alt"></i>
        </button>
      </li>

      <li class="nav-item">
        <button id="sun-mode-toggle" class="theme-toggle sun" title="Sun">
          <i class="fas fa-sun"></i>
        </button>
      </li>

      <li class="nav-item">
        <button id="sky-mode-toggle" class="theme-toggle sky" title="Sky">
          <i class="fas fa-cloud"></i>
        </button>
      </li>

      <li class="nav-item">
        <button id="leaf-mode-toggle" class="theme-toggle leaf" title="Leaf">
          <i class="fas fa-leaf"></i>
        </button>
      </li>

      <li class="nav-item">
        <button id="dark-mode-toggle" class="theme-toggle dark" title="Dark">
          <i class="fas fa-moon"></i>
        </button>
      </li>

    </ul>
  </div>
</nav>
