<div class="card post-thread shadow-sm mt-3 p-3" style="position: fixed; top: 80px; right: 0; display: none; z-index: 99999;" id="post-form">

	<form class="w-100">
		<span><b>Thread</b> No.15693770</span>
		<a href="#" onclick="showReply();" style="right: 15px; position: absolute;" aria-label="Close">X</a>
	<div class="form-group">
    	<input type="name" class="form-control" id="nameInput" aria-describedby="name" placeholder="Name (Leave blank for Anonymous)">
  	</div>

	<div class="form-group w-100">
    	<textarea class="form-control" id="postInput" rows="3" placeholder="Comment"></textarea>
  	</div>
  	<input type="file"
       id="avatar" name="avatar"
       accept="image/png, image/jpeg">

       <input type="submit" value="Submit">
  </form>
</div>