<div class="modal fade" id="reportModalCenter" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Report Thread</h5>
        <button id="report-thread-x" name="report-thread-x" type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form>
        <div class="modal-body">
          <label for="reportModal">Post #</label>
          <input type="text" class="form-control" id="reportModal" placeholder="Enter post number" readonly>
          <div class="form-group">
            <label for="ruleSelect">What rule did this post break?</label>
            <select class="form-control" id="report-reason" name="report-reason">
              <option value="LAW">Illegal Posts</option>
              <option value="OFF TOPIC">Off Topic</option>
              <option value="SPAM">Spam</option>
            </select>
          </div>
          <div id="report-captcha">
          </div>
          <div id="reportMessage" style="color: red; font-weight: bold;" class="mt-2"></div>
        </div>
        <div class="modal-footer">
          <button id="report-thread-close" name="report-thread-close" type="button" class="btn btn-custom select" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-success select" id="report-form-button" name="report-form-button" onclick="reportPost()">Report</button>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="reportModalMessage" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><b>UChan Report</b></h5>
        <button id="uchan-report-x" name="uchan-report-x" type="button" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <form>
        <div class="modal-body">
          <p id="reportResultMessage"></p>
        </div>
        <div class="modal-footer">
          <button id="uchan-report-close" name="uchan-report-close" type="button" class="btn btn-custom select" data-dismiss="modal">Close</button>
        </div>
      </form>
    </div>
  </div>
</div>
