<div class="post-thread">
	<a href="#"><img src="imgs/300x300.png"></a>

	<div class="ml-3">
		<span><b>Anonymous</b> 11/06/20 (Fri) 18:41:37 No.15693733>>15693758 >>15693770 >>15693781 >>15693806 >>15693817</span> 
		<br>
		<br>
		I just watched the movie Zulu for the first time. Realistically how much shit would I get for shaving my beard into this style? I’m seriously thinking about doing it just for fun.
	</div>
</div>
