<div class="card post-thread shadow-sm mt-3 p-3" style="position: fixed; top: 80px; right: 0; display: none; z-index: 99999; width: 334px;" id="postForm" name="postForm">

	<form id="createPostForm" name="createPostForm" class="w-100" method="POST" action="{{action}}" enctype="multipart/form-data">
	<a href="javascript:;" onclick="showReply();" style="right: 15px; top: 0px; position: absolute;" aria-label="Close">Close [X]</a>

  <div id="error" style="color: red; font-weight: bold;" class="mt-2"></div>

	<div class="form-group mb-1 mt-2">
    <input class="form-control" maxlength="20" id="name" name="name" aria-describedby="name" placeholder="Name (Leave blank for Anonymous)">
  </div>

	<div class="form-group w-100 mb-1" style="width: 300px;">
    <textarea class="form-control" maxlength="2000" id="text" name="text" rows="3" placeholder="Comment"></textarea>
  </div>

	<div class="form-check">
    <input type="checkbox" class="form-check-input" id="sticky-check">
    <label class="form-check-label" for="exampleCheck1">Sticky Post</label>
  </div>

	<div id="post-form-captcha">
  </div>

    <input type="file"
       id="postImageInput" name="postImageInput"
       accept="image/*"> <br>
			 <small><i>Accepts <b>JPG, GIF & PNG</b> files only. Image uploaded should not be greater than <b>2MB</b></i></small><br>
    <input type="submit" value="Submit" class="select btn btn-custom w-100 mt-1">
  </form>
</div>

<script type="text/javascript" src="/js/uchan.postvalidate.js"></script>
