
<div class="card post-thread shadow-sm p-0 mt-3 p-3">

	<a href="#"><img src="imgs/300x300.png"></a>

	<div class="ml-3">
	<span><b>Anonymous</b> 11/06/20(Fri)19:03:12 No.15693747</span> 
	<br><br>
	Bit weird that you've never seen muttonchops until Zulu, but they're still fairly normal. 
	<br>As with other beards you could come across as anything from a onions swilling podcaster to an anti-social biker bro.
	</div>

</div>