
<div class="post-general m-2">

	<a href="/board"><img src="imgs/300x300.png" class="col post-zoom p-0"></a> <br>
	<small style="cursor:help;"><b>1 / 1 / 1</b></small> <br>

	<span class="post-subtitle">
		Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua...
	</span>

</div>