<div class="card post-thread shadow-sm mt-3 p-3" style="border: 3px solid black; position: fixed; top: 160px; left: 0; display: none; z-index: 99999; width: 334px;" id="postReport" name="postReport">
   <form id="createpostReport" name="createpostReport" class="w-100" method="POST" action="{{action}}" enctype="multipart/form-data">
      <a href="javascript:;" onclick="showReport();" style="right: 15px; top: 0px; position: absolute;" aria-label="Close">Close [X]</a>
      <div id="error" style="color: red; font-weight: bold;" class="mt-2"></div>
      <b>⚠️Report Thread⚠️</b>
      <div class="form-group w-100 mb-1" style="width: 300px;">
         <textarea class="form-control" maxlength="2000" id="text" name="text" rows="3" placeholder="Report Details"></textarea>
      </div>
      <small><i>Please only report this thread if you are confident that it breaks site <a href="/rules"><u>rules</u></a>.</i></small><br>
      <div class="g-recaptcha mt-1 mb-1" data-sitekey="6Lff6eQZAAAAACLF0onsK7F-oXM95R0-RvZKQ99s" id="captcha"></div>
      <input type="submit" value="Submit" class="select btn btn-custom w-100 mt-1">
   </form>
</div>

<!-- <script type="text/javascript" src="/js/postvalidate.js"></script> -->
