
<div class="container card shadow-sm mt-3 mb-3">
<h1>About UChan</h1>
<hr>
<h2>UChan Imageboard - A Brief Overview</h2>
(University Channel)
<br><br>

“An imageboard is a type of Internet forum that revolves around the anonymous posting of images, often alongside related text and discussion. It is aimed to create insightful discussion as the anonymous nature of imageboards promote the emphasis on what is said rather than who is saying it.”
<br><br>

The idea: An online university ‘Freedom Wall’.
<br><br>

The motivation: A University centered imageboard would be a fun experiment / way to have students connect with one another anonymously especially during this pandemic where communication with one another is limited online. 
<br><br>

Read more on Imageboard
<br><br>

<h3>User</h3>
Users of imageboards can post threads, images and comments anonymously.
<br><br>

<h3>Boards</h3>
Boards are the heart of an imageboard. They are distinct pages with unique topics that all posts within that board revolve around. (e.g. /ccs/ will be for anything around the College of Computer Studies).
Each board will contain their own set of moderators
Discussions are meant to be related to the board but may go off topic if users choose to do so
Posts are sorted by “bump” by default, in other words by the latest comment activity
Can be sorted by date created and number of replies
<br><br>

<h3>Posts</h3>
Posts are ephemeral in imageboards, meaning that after a certain period of inactivity (board dependent), the post would be locked. After a period of time, the post will then be deleted. Posts that also hit the reply limit.
Make post
Delete post
Delete image of post
Comment on post
Delete comment
Allow formatting of posts through highlighting lines (strings) 
Reply to one/multiple posts through by quoting their unique thread identifier 
Report post/comment
<br><br>

<h3>Personalization</h3>
Users may personalize their experience in the website through css themes and the way posts are sorted (grid / list).
Website themes saved through cookies / local storage 
Filter out keywords so that posts and comments containing the criteria would not show up (e.g. “ateneo”, “jowa”, etc)
Admin
Admins may view/edit/pin/create posts in the application in a compact admin view. When posting or commenting admins will have an admin flair indicating that the post/comment was made by an admin.
<br><br>

<h3>Posts/Comments/Replies</h3>
All aforementioned features done by a regular user
Admins can pin their posts on any board
Delete posts done by users
Ban ips from posting on the site
<br><br>

<h3>Moderation</h3>
Users that violate Philippine law and site rules will be immediately banned from being able to post on the website.
<br><br>

Site rules shall prohibit posts that contain the ff: 
<li>NSFW</li>
<li>Doxing</li>
<li>Bullying and harassment of identified people</li>
<li>Illegal documents </li>
<li>Distribution or selling of illegal items/substances</li>
<li>ASL (age, sex, location) posts </li>
<br><br>

<h3>Reporting</h3>
<li>Users can report posts that they feel violates site rules. Reported posts will be listed for admins or moderators to view in a compact way. They can choose to ban the user and the post or ignore.</li>
<br>
</div>
