<div class="container card shadow-sm mt-3 mb-3">
    <h1>About UChan</h1>
    <hr>
    <h2>It is an imageboard</h2>
    <p>Also known as <i>University Channel</i></p>
    <br>
    <p>
        “An imageboard is a type of Internet forum that revolves around the anonymous posting of images, often alongside
        related text and discussion. It is aimed to create insightful discussion as the anonymous nature of imageboards
        promote the emphasis on what is said rather than who is saying it.”
    </p>

    <p>
        <b>The idea:</b> An online university ‘Freedom Wall’.
    </p>

    <p>
        <b>The motivation:</b> A University centered imageboard would be a fun experiment / way to have students connect
        with one another anonymously especially during this pandemic where communication with one another is limited
        online.
    </p>

    <h3>User</h3>
    <p>Users of imageboards can post threads, images and comments anonymously.</p>

    <h3>Boards</h3>
    <p>
        Boards are the heart of an imageboard. They are distinct pages with unique topics that all posts within that
        board revolve around. (e.g. /ccs/ will be for anything around the College of Computer Studies).
        Each board have their own set of moderators. Discussions are meant to be related to the board but may go off
        topic if users choose to do so.
    </p>
    <br><br>

    <h3>Posts</h3>
    <p>
        Posts are ephemeral in imageboards, meaning that after a certain period of inactivity (board dependent), the
        post would be locked. After a period of time, the post will then be deleted. Posts that also hit the reply
        limit.
    </p>
    <br><br>

    <h3>Personalization</h3>
    <p>
        Users may personalize their experience in the website through css themes and the way posts are sorted (grid /
        list).
    </p>

    <h3>Reporting</h3>
    <p>
        Users can report posts that they feel violates site rules. Reported posts will be listed for admins or
        moderators to view in a compact way. They can choose to ban the user and the post or ignore.
    </p>
    <br>
</div>