
<center><img src="/imgs/graphics/chroma.png" class=" pt-3" >
</center>

<h1 class="pt-3 mb-0" style="text-align: center;">{{displayName}}</h1>

<div style="text-align: center;">
	<a href="#" style="font-size: 16pt;" onclick="showReply();" class="select btn btn-custom">Start a Thread</a>
</div>

<div class="container">
<hr>
</div>

<div style="text-align: center; align-items: flex-start; display: flex; flex-wrap: wrap; justify-content: center;">
	{{#each threads}}
		{{> post}}
	{{/each}}
</div>

{{> postForm}}
