<h1 class="pt-3 mb-0" style="text-align: center;">BOARD</h1>
<div class="container">
<hr>
</div>

<div style="text-align: center;">
	{{> post}}
	{{> post}}
	{{> post}}
	{{> post}}
	{{> post}}
	{{> post}}
	{{> post}}
	{{> post}}

	{{> post}}
	{{> post}}
	{{> post}}
	{{> post}}
	{{> post}}
	{{> post}}
	{{> post}}
	{{> post}}

	{{> post}}
	{{> post}}
</div>