<h1 class="pt-3 mb-0" style="text-align: center;">UChan</h1>

<p style="text-align: center;">The University <b>ImageBoard </b> </p>

<div class="container">
	<div class="card shadow-sm m-2">
	  <div class="card-body">
	    <h2>Boards</h2>
	    <hr>
	    <div class="row">
		    <div class="col">
		    	<b><u>School</u></b><br>
		    	<a href="#" class="select">Academics</a> <br>
		    	<a href="#" class="select">University</a>  <br>
		    	<a href="#" class="select">Professors</a>  <br><br>

		    	<b><u>Lifestyle</u></b><br>
		    	<a href="#" class="select">Casual</a>  <br>
		    	<a href="#" class="select">UFO</a>  <br>
		    	<a href="#" class="select">Hugot</a> 
		    </div>

		    <div class="col">
		    	<b><u>Interests</u></b><br>
		    	<a href="#" class="select">Games</a>  <br>
		    	Music <br>
		    	TV and Movies <br>
		    	Digital Arts <br>
		    	Fine Arts <br>
		    	Testing <br>
		    </div>

		    <div class="col">
		    	Testing <br>
		    	Testing <br>
		    	Testing <br>
		    	Testing <br>
		    	Testing <br>
		    	Testing <br>
		    	Testing <br>
		    </div>

		    <div class="col">
		    	Testing <br>
		    	Testing <br>
		    	Testing <br>
		    	Testing <br>
		    	Testing <br>
		    	Testing <br>
		    	Testing <br>
		    </div>
		</div>

	  </div>
	</div>
</div>

<div class="container">
	<div class="card shadow-sm m-2">
	  <div class="card-body">
	    <h2>What's Active</h2>
	    <hr>

	    <div style="text-align: center;">
		    <img src="imgs/300x300.png" class="shadow-sm col m-3" style="display: inline-block; width: 300px;">
		    <img src="imgs/300x300.png" class="shadow-sm col m-3" style="display: inline-block; width: 300px;">
		    <img src="imgs/300x300.png" class="shadow-sm col m-3" style="display: inline-block; width: 300px;">

		    <img src="imgs/300x300.png" class="shadow-sm col m-3" style="display: inline-block; width: 300px;">
		    <img src="imgs/300x300.png" class="shadow-sm col m-3" style="display: inline-block; width: 300px;">
		    <img src="imgs/300x300.png" class="shadow-sm col m-3" style="display: inline-block; width: 300px;">
		</div>

	  </div>
	</div>
</div>

<p style="text-align: center;">
<a href="#">Rules</a> • <a href="#">About</a> • <a href="#">Contact</a>
</p>