<h1 class="pt-4 mb-0" style="text-align: center;">UChan</h1>

<p style="text-align: center;">The University <b>ImageBoard </b> </p>

<div class="container">
	<div class="card shadow-sm m-2">
	  <div class="card-body">
	    <h2>Boards</h2>
	    <hr>
	    <div class="row">
		    <div class="col">
		    	<b>School</b><br>
		    	Academics <br>
		    	University <br>
		    	Professors <br>
		    	<b>Lifestyle</b><br>
		    	Casual <br>
		    	UFO <br>
		    	Hugot
		    </div>

		    <div class="col">
		    	<b>Interests</b><br>
		    	Games <br>
		    	Music <br>
		    	TV and Movies <br>
		    	Digital Arts <br>
		    	Fine Arts <br>
		    	Testing <br>
		    </div>

		    <div class="col">
		    	Testing <br>
		    	Testing <br>
		    	Testing <br>
		    	Testing <br>
		    	Testing <br>
		    	Testing <br>
		    	Testing <br>
		    </div>

		    <div class="col">
		    	Testing <br>
		    	Testing <br>
		    	Testing <br>
		    	Testing <br>
		    	Testing <br>
		    	Testing <br>
		    	Testing <br>
		    </div>
		</div>

	  </div>
	</div>
</div>

<div class="container">
	<div class="card shadow-sm m-2">
	  <div class="card-body">
	    <h2>What's Active</h2>
	    <hr>
	  </div>
	</div>
</div>
