<!-- Moderator View -->

<script type="text/javascript" src="/js/uchan.datatables.js"></script>

<div class="row p-2 mt-2" style="margin: auto">

  <nav class="col-sm-1 card mod-nav shadow-sm">
    <div class="card-body">
      <h3><b>MODChan</b></h3> <hr>
      <div class="">
        <a href="#" class="select mod-items"> Boards </a> <br>
        <a href="#reports" class="select mod-items"> Reported Posts </a> <br>
        <a href="#moderator" class="select mod-items"> Moderators </a> <br>
        <a href="#banned" class="select mod-items"> Banned IPs </a> <br>
      </div>
    </div>
  </nav>

  <div class="col">

    <h2>Boards</h2>
    <!--
    <div class="mod-content-boards">
      {{> modBoards}}
      {{> modBoards}}
      {{> modBoards}}
    </div>
    -->
    <a href="/ufo" class="select" style="font-size: 20pt;">
      /UFO
    </a>
    <hr>
    <h2 id="reports">Reported Posts</h2>
    <table id="reportTable" class="display">
      <thead>
          <tr>
              <th>Post #ID</th>
              <th>Board</th>
              <th>Comment</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>Row 1 Data 1</td>
              <td>Row 1 Data 2</td>
              <td>Row 1 Data 3</td>
          </tr>
      </tbody>
    </table>

    <hr>

    <h2 id="moderator">Moderators</h2>
    <table id="moderatorTable" class="display">
      <thead>
          <tr>
              <th>Username</th>
              <th>Password</th>
              <th>Board List</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>Row 1 Data 1</td>
              <td>Row 1 Data 2</td>
              <td>Row 1 Data 3</td>
          </tr>
          <tr>
              <td>Row 2 Data 1</td>
              <td>Row 2 Data 2</td>
              <td>Row 2 Data 3</td>
          </tr>
      </tbody>
    </table>
    <hr>

    <h2 id="banned">Banned IPs</h2>
    <table id="bannedTable" class="display">
      <thead>
          <tr>
              <th>IP #</th>
              <th>Reason</th>
          </tr>
      </thead>
      <tbody>
          <tr>
              <td>Row 1 Data 1</td>
              <td>Row 1 Data 2</td>
          </tr>
          <tr>
              <td>Row 2 Data 1</td>
              <td>Row 2 Data 2</td>
          </tr>
      </tbody>
    </table>
    <hr>

  </div>
</div>
