
<div class="container card shadow-sm mt-3 mb-3">
<h1>Rules</h1>
<hr>
    <div class="row">
        <div class="padding-15 card" style="width: 18rem;">
        <img class="card-img-top" src="imgs/300x300.png" alt="Card image cap">
            <div class="card-body">
                <h3>Doxing</h3>
                <p class="card-text">
                    You are not allowed to share other individual's personal information
                    without their approval.
                </p>
            </div>
        </div>
        <div class="padding-15 card" style="width: 18rem;">
        <img class="card-img-top" src="imgs/300x300.png" alt="Card image cap">
            <div class="card-body">
                <h3>Not Safe for Work (NSFW) posts</h3>
                <p class="card-text">
                    
                </p>
            </div>
        </div>
        <div class="padding-15 card" style="width: 18rem;">
        <img class="card-img-top" src="imgs/300x300.png" alt="Card image cap">
            <div class="card-body">
                <h3>Bullying and Harassment of Identified Individuals</h3>
                <p class="card-text">
                    
                </p>
            </div>
        </div>
        <div class="padding-15 card" style="width: 18rem;">
        <img class="card-img-top" src="imgs/300x300.png" alt="Card image cap">
            <div class="card-body">
                <h3>Illegal Documents</h3>
                <p class="card-text">
                    
                </p>
            </div>
        </div>
        <div class="padding-15 card" style="width: 18rem;">
        <img class="card-img-top" src="imgs/300x300.png" alt="Card image cap">
            <div class="card-body">
                <h3>Distribution or Selling of Illegal Items/Substances</h3>
                <p class="card-text">
                    
                </p>
            </div>
        </div>
        <div class="padding-15 card" style="width: 18rem;">
        <img class="card-img-top" src="imgs/300x300.png" alt="Card image cap">
            <div class="card-body">
                <h3>Age, Sex, and Location (ASL) photos</h3>
                <p class="card-text">
                    
                </p>
            </div>
        </div>
    </div>
</div>
