<div class="container card shadow-sm mt-3 mb-3">
    <h1>Rules</h1>
    <hr>
    <div class="row">
        <div class="col-xs-6 col-sm-4">
            <img src="imgs/icons/ani-crying.png">
            <h5>On Harassment and Bullying</h5>
            <p>
                Offensive, intimidating, malicious, or insulting behavior
                towards other users or identified people will have you banned.
                UChan absolutely does not tolerate any types of racism, sexism,
                or xenophobia.
            </p>
        </div>
        <div class="col-xs-6 col-sm-4">
            <h5>On Threats and Calls to Violence</h5>
            <p>
                Posting violent content in this Christian website is a <b>NO-NO!</b>
                Any content that suggests and/or encourages violence against
                people or animals will be put down. <i>Big Brother UChan is watching you. ;)</i>
            </p>
        </div>
        <div class="col-xs-6 col-sm-4">
            <h5>On Doxing</h5>
            <p>
                Don't even think about revealing somoene's personal information without
                their consent <i>(especially malicious content)</i>. Posting such will have
                you saying goodbye to UChan.
            </p>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-6 col-sm-4">
            <h5>On Anything Illegal</h5>
            <p>
                UChan is definitely <b>not</b> the place for you to share/sell/distribute Illegal
                items such as documents and substances.If you do, ban is your new best friend.
            </p>
        </div>
        <div class="col-xs-6 col-sm-4">
            <h5>On ASL (Age, Sex, Location) Posts</h5>
            <p>
                Please don't ask for the age, sex, and location of UChan users. We are vibing
                with the anonymity here, alright?
            </p>
        </div>
        <div class="col-xs-6 col-sm-4">
            <h5>On Not Safe for Work Posts</h5>
            <p>
                NSFW (Not Safe for Work) posts or any inappropriate content are also 
                not allowed here but you can take them somewhere else. Just not here, okay? :D
            </p>
        </div>
    </div>
</div>