<!-- Login page for Moderators -->

<div class="container mt-5">
  <h1><i>XeroxThis</i></h1>
  	<div class="card shadow-sm">
  	  <div class="card-body">
        <form id="register-form" name="register-form" method="post" action="/xeroxed">
          <b>Moderator Registration Key</b>
          <div class="form-group mb-1 mt-2">
            <input id="key-register" name="key-register" class="form-control" placeholder="dQw4w9WgXcQ">
          </div>

          <b>Moderator ID</b>
          <div class="form-group mb-1 mt-2">
            <input id="id-register" name="id-register" class="form-control" placeholder="Moderator ID">
          </div>

          <b>Password</b>
          <div class="form-group mb-1 mt-2">
            <input id="password-register" name="password-register" class="form-control" type="password">
          </div>

          <b>Repeat Password</b>
          <div class="form-group mb-1 mt-2">
            <input id="password-repeat" name="password-repeat" class="form-control" type="password">
          </div>

          <button type="submit">Register as Moderator</button>
        </form>
	    </div>
  	</div>
</div>
