<!-- Login page for Moderators -->

<div class="container mt-5">
  <h1><i>XeroxThis</i></h1>
  	<div class="card shadow-sm">
  	  <div class="card-body">
        <form>
          <b>Moderator ID</b>
          <div class="form-group mb-1 mt-2">
            <input class="form-control">
          </div>

          <b>Password</b>
          <div class="form-group mb-1 mt-2">
            <input class="form-control">
          </div>

          <a href="/modview">Login</a>
        </form>
	    </div>
  	</div>
</div>
