<!-- Login page for Moderators -->

<div class="container mt-5">
  <h1><i>XeroxThis</i></h1>
  	<div class="card shadow-sm">
  	  <div class="card-body">
        <div id="error" style="color: red; font-weight: bold;" class="mt-2"></div>
        <form id="form-login" name="form-login" method="POST">
          <b>Moderator ID</b>
          <div class="form-group mb-1 mt-2">
            <input name="id-login" id="id-login" class="form-control">
          </div>

          <b>Password</b>
          <div class="form-group mb-1 mt-2">
            <input type="password" name="password-login" id="password-login" class="form-control">
          </div>

          <input type="submit" id="xeroxThisSubmit" value="Login as Moderator" class="select btn btn-custom w-100 mt-1">
        </form>
	    </div>
  	</div>
</div>

<script type="text/javascript" src="/js/uchan.logvalidate.js"></script>
