@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Rubik:wght@400;600;800&display=swap');

html {
  scroll-behavior: smooth;
}

body {
	background: #121212 url("/imgs/graphics/bg-dark.png");
	background-attachment: fixed;
	font-family: 'Rubik', sans-serif;
	color: #ffffff !important;
}

h1 {
	font-weight: 800;
	font-size: 62pt;
	color: #ffffff;
	
	/*background: linear-gradient(90deg, rgba(0,212,255,1) 0%, rgba(139,255,144,1) 100%);
  	-webkit-background-clip: text;
  	-webkit-text-fill-color: transparent;
  	*/
}

h4 {
	margin: 0;
	padding: 0;
}

a {
	color: #ffffff !important;
	text-decoration: none !important;
}

a:hover {
	font-weight: bold;
	color: white !important;
}


/* BS ADJUSTMENTS */
.active {
	font-weight: bold;
}

.card {
	border: none;
	background-color: #121212;
	border: 1px solid #2f3336; 
}

.bg-custom {
	background-color: black;
	border-bottom: 1px solid;
	border-color: #2f3336;
}

hr { 
	display: block; height: 1px;
    border: 0; border-top: 1px solid #2f3336;
    margin: 1em 0; padding: 0; 
}

/* LINKS */
.select {
	font-size: 12pt;
	text-decoration: none !important;
	color: #ffffff;
}

.select:hover {
	font-weight: bold;
	color: #ffffff !important;
}

.select-back {
	text-decoration: none !important;
	color: #ffffff;
}

.select-back:hover {
	font-weight: bold;
	color: #ffffff !important;
}

/* POSTS */
.post-author {
	color: #8778cf;
}

.post-general {
	max-width: 300px;
	display: inline-block;
}

.post-thread {
	display: flex;
	flex-direction: row;
}

.post-subtitle {
	font-size: 12px;
	line-height: 0.5;
}

.post-zoom {
  transition: transform .2s; /* Animation */

}

.post-zoom:hover {
  transform: scale(1.25); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  z-index: 1000;

  border-style: solid;
  border-color: rgba(255, 255, 255, 1);

}

#logo {
	transition: 0.3s;
}
#logo:hover {
  	transform: scale(1.02); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.dark-mode-toggle {
	background-color: transparent;
	border-color: transparent;
	color: white;
	-webkit-text-stroke: 1px white;
	outline: none !important;
}

.dark-mode-toggle:hover {
	color: transparent;
	-webkit-text-stroke: 2px white;
}