@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Rubik:wght@400;600;800&display=swap');

html {
  scroll-behavior: smooth;
}

body {
	background: #f3fbff url("/imgs/graphics/bg.png");
	background-attachment: fixed;
	font-family: 'Rubik', sans-serif;
	color: #106f96;
}

h1 {
	font-weight: 800;
	font-size: 62pt;

}

h4 {
	margin: 0;
	padding: 0;
}

a {
	color: #106f96 !important;
	text-decoration: none !important;
}

a:hover {
	font-weight: bold;
	color: #106f96 !important;
}


/* BS ADJUSTMENTS */
.active {
	font-weight: bold;
}

.card {
	border: none;
}

.bg-custom {
	background-color: white;
}

.btn-custom {
	background-color: transparent;
	color: #106f96;
	border-color: #106f96;
}

/* LINKS */
.select {
	font-size: 12pt;
	text-decoration: none !important;
}

.select:hover {
	font-weight: bold;
	color: #106f96;
}

.select-back {
	text-decoration: none !important;
}

.select-back:hover {
	font-weight: bold;
}

/* POSTS */
.post-author {
	color: #8778cf;
}

.post-general {
	flex-wrap: wrap;
}

.post-thread {
	display: flex;
	flex-direction: row;
}

.post-subtitle {
	font-size: 12px;
	line-height: 0.5;
}

.post-zoom {
	max-height: auto;
	max-width: 200px;

	transition: transform .2s; 
	z-index: 2;
}

.post-zoom:hover {
  transform: scale(1.3); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  z-index: 4;
}

.navbar {
	background-color: #f8fdff;
}

/* LOGO */
#logo {
	transition: 0.3s;
}
#logo:hover {
  	transform: scale(1.02); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

/* DARK MODE BUTTON */
.theme-toggle {
	background-color: transparent;
	border-color: transparent;
	color: #106f96;

	outline: none !important;
}

.theme-toggle.sky {
	color: #0a4e6a;
}

.theme-toggle:hover {
	color: #0a4e6a;
}
