@import url('https://fonts.googleapis.com/css2?family=Rubik+Mono+One&family=Rubik:wght@400;600;800&display=swap');

html {
  scroll-behavior: smooth;
}

body {
	background: #f8f8f8 url("/imgs/graphics/bg.png");
	background-attachment: fixed;
	font-family: 'Rubik', sans-serif;
	color: #2e2e2e;
}

h1 {
	font-weight: 800;
	font-size: 62pt;

}

h4 {
	margin: 0;
	padding: 0;
}

a {
	color: #2e2e2e !important;
	text-decoration: none !important;
}

a:hover {
	font-weight: bold;
	color: #2e2e2e !important;
}


/* BS ADJUSTMENTS */
.active {
	font-weight: bold;
}

.card {
	border: none;
}

.bg-custom {
	background-color: white;
}

.btn-custom {
	background-color: transparent;
	color: black;
	border-color: black;
}

/* LINKS */
.select {
	font-size: 12pt;
	text-decoration: none !important;
}

.select:hover {
	font-weight: bold;
}

.select-back {
	text-decoration: none !important;
}

.select-back:hover {
	font-weight: bold;
}

/* POSTS */
.post-author {
	color: #8778cf;
}

.post-general {
	flex-wrap: wrap;
	max-width: 200px;
}

.post-thread {
	display: flex;
	flex-direction: row;
}

.post-subtitle {
	font-size: 12px;
	overflow: hidden;
   	text-overflow: ellipsis;
   	display: -webkit-box;
   	-webkit-line-clamp: 2; /* number of lines to show */
   	-webkit-box-orient: vertical;
}

.post-zoom {
	max-height: auto;
	max-width: 200px;

	transition: transform .2s; 
	z-index: 2;
}


.post-zoom:hover {
  transform: scale(1.3); 
  z-index: 4;
}

/* LOGO */
#logo {
	transition: 0.3s;
}
#logo:hover {
  	transform: scale(1.02);
}

/* DARK MODE BUTTON */
.theme-toggle {
	background-color: transparent;
	border-color: transparent;
	outline: none !important;

}

.theme-toggle.default {
	color: grey;
}

.theme-toggle:hover {
	color: grey;
}
